body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  color: white;
  background-image: url("./img/background.jpg"); 
  background-attachment: fixed;
  background-size: cover;
  background-position-x: 46.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button {
  font-size: 1rem;
  border-radius: 1rem;
  background-color: #5EC2A6;
  border-color: green;
}

.button:hover{
  background-color: #438572;
  border-color: green;
}

.team-input{
  padding-bottom: 3rem;
}

.fs-15{
  font-size: 1.5rem;
}

.home-info{
  font-size: 1rem;
  background-color: #182935;
  color: white;
}

.ppt{
  border-radius: 4rem;
  background-color: rgba(0, 0, 0, 0.226);
  margin-top: 1rem;
}

.ppt button{
  font-size: 1.5rem;
}

.amount-selector{
  color: white;
  background-color: #5EC2A6;
  border-radius: 0.6rem;
  margin-left: 1rem;
}

.home .button {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.home{
  position: absolute;
  top: 20%;
}

.team-color-bar{
  margin:auto;
  width: 60%;
  height: 15px;
  border: 1px solid white;
}


.match-img{
  height: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.rp-button{
  margin: auto;
}

.info{
  margin-left: 0.5rem;
}

.team-creator-kit{
  height: 4rem;
}

.player-creator-img{
  height: 4rem;
  border-radius: 1rem;
}

.home-info .team-creator-kit{
  height: 6rem;
  margin-top: 5rem;
}

.player-input-list{
  width: 2rem;
  margin: 0.1rem;
}

.loading-div{
  position: absolute;
  top: 40%;
  left: 50%;
}

@media screen and (max-width: 1100px){

  .home-info .player-img{
    display: none;
  }


}

@media screen and (max-width: 550px){


  .home{
    top: 40%;

  }

  .player-input .player-creator-img{
    height: 2.5rem;
  }

  .player-input .button-group{
    display: flex;
    justify-content: center;
  }

  .team-display{
    margin-left: 2.3rem;
  }

  .player-input-list{
    display: none;
  }

  .player-display img{
    height: 2rem;
    margin: 3px;
  }

  .previous-match {
    display: flex;
    justify-content: flex-end;
  }

}